<p id="notice"><%= notice %></p>

<h1>Touring Logs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @touring_logs.each do |touring_log| %>
      <tr>
        <td><%= link_to 'Show', touring_log %></td>
        <td><%= link_to 'Edit', edit_touring_log_path(touring_log) %></td>
        <td><%= link_to 'Destroy', touring_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touring Log', new_touring_log_path %>
